<h1>Dear Sir/Madam,</h1><br>
<h2>Please find new contact added details below: </h2><br>
<h4>First Name: </h4>   <%= @contact.fname %><br> 
<h4>Last Name :</h4>    <%= @contact.lname %> <br>
<h4>Email     :</h4>    <%= @contact.email %><br>
<h4>Mobile    :</h4>    <%= @contact.mobile %><br>
<h4>Message   : </h4>   <%= @contact.message %><br>

<h2>Regards</h2><br>
<h2>System User<h2>